.navbar .navbar-default {
  background-color: transparent;
  color: white; }
.navbar .navbar-brand {
  float: none;
  font-family: 'Pacifico', cursive;
  color: white; }
  @media (min-width: 768px) {
    .navbar .navbar-brand {
      font-size: 2em; } }
.navbar .nav-item {
  text-align: center; }
  .navbar .nav-item .nav-link {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    color: white;
    padding: 5px 20px;
    margin-top: 15px; }
  .navbar .nav-item .fa {
    color: white; }
  .navbar .nav-item .active, .navbar .nav-item .nav-link:hover {
    font-weight: bold;
    background-color: #fff;
    color: #2C3E50;
    border-radius: 3px; }

.affix {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 2px orange; }
  .affix > .nav-item > a {
    color: blue; }
  .affix > navbar-brand {
    color: blue; }

.main-header {
  background-image: url("../img/bg_top_1.jpg");
  background-size: cover;
  width: 100%;
  height: 980px;
  background-position: center;
  background-attachment: fixed; }
  .main-header .top-content {
    text-align: center;
    padding-top: 300px;
    color: #fff;
    font-weight: bold; }
    .main-header .top-content h1 {
      text-transform: uppercase;
      font-size: 3em;
      font-family: 'Fjalla One', sans-serif; }
      @media (min-width: 768px) {
        .main-header .top-content h1 {
          font-size: 4em; } }
      @media (min-width: 1024px) {
        .main-header .top-content h1 {
          font-size: 5em; } }
    .main-header .top-content p {
      font-size: 1.5em;
      font-family: 'Fjalla One', sans-serif; }
    .main-header .top-content span {
      color: #B64926; }
  .main-header .icon-top {
    display: inline-block;
    padding-top: 4em;
    color: white;
    width: 115px;
    margin-top: 14em;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bounce 2s infinite;
    transition: transform; }

@keyframes bounce {
  0%, 20%,50%,80%,100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.main-skill .myskill {
  padding: 100px 40px; }
  .main-skill .myskill h2 {
    margin-bottom: 80px; }
.main-skill .mypassion {
  padding: 100px 40px; }
  .main-skill .mypassion h2 {
    margin-bottom: 80px; }
  .main-skill .mypassion img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid 5px orange;
    margin-bottom: 40px; }
.main-skill h4 {
  margin-bottom: 20px; }

.myportfolio {
  background-color: #2980B9;
  padding: 100px 40px;
  color: white; }
  .myportfolio h2 {
    margin-bottom: 80px; }
  .myportfolio h2 {
    color: #fff;
    font-size: 3.5em; }
    @media (min-width: 768px) {
      .myportfolio h2 {
        font-size: 4.5em; } }
    @media (min-width: 1024px) {
      .myportfolio h2 {
        font-size: 6.5em; } }
  .myportfolio img {
    width: 100%;
    height: 100%; }
  .myportfolio .project {
    margin: 100px 0; }
    .myportfolio .project h3 {
      margin-top: 30px; }
    .myportfolio .project span {
      display: inline-block;
      border: solid 3px #B9121B;
      padding: 8px 15px;
      margin: 5px;
      font-size: 25px; }

.contactme {
  background-image: url("../img/email_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  color: white;
  padding: 100px 40px; }
  .contactme h2 {
    margin-bottom: 80px; }
  .contactme h2 {
    font-size: 3.5em; }
    @media (min-width: 768px) {
      .contactme h2 {
        font-size: 4.5em; } }
    @media (min-width: 1024px) {
      .contactme h2 {
        font-size: 6.5em; } }
  .contactme textarea {
    height: 200px; }
  .contactme .contactform,
  .contactme h4 {
    margin-bottom: 40px;
    color: #fff; }
  .contactme label {
    font-size: 25px; }
  .contactme input[type='button'] {
    font-size: 25px; }
  .contactme p {
    color: #fff; }

.main-footer {
  padding: 100px 40px;
  font-weight: bold;
  font-size: 20px; }
  .main-footer h2 {
    margin-bottom: 80px; }
  .main-footer .copyright {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .main-footer .copyright {
        margin-bottom: 0px; } }
  .main-footer .unl {
    margin-right: 5px;
    padding: 10px 20px;
    border-bottom: 5px solid #E74C3C; }
    .main-footer .unl:hover {
      border: 5px solid #E74C3C; }

/*# sourceMappingURL=style.css.map */
